* {
	margin: none;
	padding: none;
	box-sizing: border-box;
}

body{
	background-color: black;
}

html{
	text-align: center;
}

h1{
	font-size: 50px;
	font-family: Verdana;
	color: white;
}

a {
	color: aquamarine;
	font-size: 16px;
}

h2{
	font-size: 42px;
	font-family: Verdana;
	font-weight: 300;
	color: white;
}

p{
	font-family: Verdana;
	color: grey;
	font-size: 21px;
}

img{
	padding: 20px;
}

span{
	color: grey;
}

footer{
	text-align: right;
}

